server:
  port: 9003
  context-path: /

spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://rm-m5e3yx9fb3g133p6weo.mysql.rds.aliyuncs.com:3306/member?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: member
    password: Member123465
  output:
    ansi:
    enabled: always
  http:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  redis:
    database: 0
    host: 127.0.0.1
    password:
    port: 6379
    pool:
      max-active: 8
      max-wait: -1
      max-idle: 8
      min-idle: 0
    timeout: 0
  session:
    store-type: none

security:
  basic:
    enabled: false

com:
  laf:
    manager:
      browser:
        loginPage: /login.html
        loginType: REDIRECT
    mall:
      sms:
        url: http://112.74.76.186:8030/service/httpService/httpInterface.do
        username: JSM41961
        password: 5tjfzvne
        veryCode: upxg5dedtrk2
        tempid: JSM41961-0001
    upload:
      file:
        path: /var/lib/tomcat8/webapps/upload/images
        base: /upload/images/
        domain: http://121.196.208.176:9354
    coupon:
      relate:
        isrelated: false
        couponid: 1

logging:
  level:
    org.springframework.jdbc.core.StatementCreatorUtils: debug
    org.springframework.jdbc.core: debug

