<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 4.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="description"-->
    <!--content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">-->
    <!--<meta name="keywords"-->
    <!--content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">-->
    <title>BAUHINIA SQUARE Admin</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="css//materialize.css" type="text/css" rel="stylesheet">
    <link href="css//style.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">

    <link href="dropify/dist/css/dropify.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/parsley.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!--sweetalert-->
    <link href="css/sweetalert.css" type="text/css" rel="stylesheet">
    <link href="css/themes/google/google.css" type="text/css" rel="stylesheet">

    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0px;
            font-size: 13px;
        }

        #pickerBox {
            position: absolute;
            z-index: 9999;
            top: 50px;
            right: 30px;
            width: 300px;
        }

        #pickerInput {
            width: 200px;
            padding: 5px 5px;
        }

        #poiInfo {
            background: #fff;
        }

        .amap_lib_placeSearch .poibox.highlight {
            background-color: #CAE1FF;
        }

        .amap_lib_placeSearch .poi-more {
            display: none !important;
        }
    </style>
</head>

<body ng-app="materializeApp" class="active-handle-points">
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-cyan-cyan">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="#" class="brand-logo darken-1">
                                <img src="images/logo/materialize-logo.png" alt="materialize logo">
                                <!--<span class="logo-text hide-on-med-and-down">Materialize</span>-->
                                <span class="logo-text hide-on-med-and-down" style="font-size:0.65em;font-family:
                                      Roboto Condensed">BAUHINIA SQUARE</span>
                            </a>
                        </h1>
                    </li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="material-icons">search</i>
                    <input type="text" id="Search" name="Search" class="header-search-input z-depth-2"
                           placeholder="请输入  会员手机号" style="padding-top:0.7em"/>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"
                           data-activates="translation-dropdown">
                            <!--<span class="flag-icon flag-icon-gb"></span>-->
                            <span class="flag-icon flag-icon-cn"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                            <i class="material-icons">settings_overscan</i>
                        </a>
                    </li>
                    <!--<li>-->
                    <!--<a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">-->
                    <!--<i class="material-icons">notifications_none-->
                    <!--&lt;!&ndash;<small class="notification-badge pink accent-2">5</small>&ndash;&gt;-->
                    <!--</i>-->
                    <!--</a>-->
                    <!--</li>-->
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button"
                           data-activates="profile-dropdown">
                                <span class="avatar-status avatar-online">
                    <img src="images/avatar/avatar-7.png" alt="avatar">
                    <i></i>
                  </span>
                        </a>
                    </li>
                    <li>
                        <!--<a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse">-->
                        <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light">
                            <i class="material-icons">format_indent_increase</i>
                        </a>
                    </li>
                </ul>
                <!-- translation-button -->
                <ul id="translation-dropdown" class="dropdown-content">
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-1">-->
                    <!--<i class="flag-icon flag-icon-gb"></i> English</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-1">-->
                    <!--<i class="flag-icon flag-icon-fr"></i> French</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-1">-->
                    <!--<i class="flag-icon flag-icon-cn"></i> Chinese</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-1">-->
                    <!--<i class="flag-icon flag-icon-de"></i> German</a>-->
                    <!--</li>-->
                </ul>
                <!-- notifications-dropdown -->
                <!--<ul id="notifications-dropdown" class="dropdown-content">-->
                <!--<li>-->
                <!--<h6>NOTIFICATIONS-->
                <!--<span class="new badge">5</span>-->
                <!--</h6>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#!" class="grey-text text-darken-2">-->
                <!--<span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>-->
                <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>-->
                <!--</li>-->
                <!--</ul>-->
                <!-- profile-dropdown -->
                <!--<ul id="profile-dropdown" class="dropdown-content">-->
                <!--<li>-->
                <!--<a href="#" class="grey-text text-darken-1">-->
                <!--<i class="material-icons">face</i> Profile</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="grey-text text-darken-1">-->
                <!--<i class="material-icons">settings</i> Settings</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="grey-text text-darken-1">-->
                <!--<i class="material-icons">live_help</i> Help</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                <!--<a href="#" class="grey-text text-darken-1">-->
                <!--<i class="material-icons">lock_outline</i> Lock</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="grey-text text-darken-1">-->
                <!--<i class="material-icons">keyboard_tab</i> Logout</a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav" th:include="leftNavigation :: navigation">
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s10 m6 l6">
                            <h5 class="breadcrumbs-title">会员积分处理</h5>
                            <ol class="breadcrumbs">
                                <li><a href="#">上海紫荆广场</a>
                                </li>
                                <li><a href="#">会员</a>
                                </li>
                                <li class="active">会员积分 处理</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--<header id="header" class="page-topbar" style="margin-top:1.2em">-->
            <!--<nav class="">-->
            <!--<div class="nav-wrapper">-->
            <!--<div class="header-search-wrapper">-->
            <!--<i class="material-icons">search</i>-->
            <!--<input type="tel" id="Search" name="Search" class="header-search-input z-depth-2"-->
            <!--placeholder="输入会员手机号"/>-->
            <!--</div>-->
            <!--</div>-->
            <!--</nav>-->
            <!--</header>-->
            <!--breadcrumbs end-->
            <!--start container-->
            <div class="container">

                <div class="section">
                    <!--<p class="caption">在下列表单中填写商场基本信息 上传商场轮播图片</p>-->
                    <!--<div class="divider"></div>-->
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card-panel">
                            <h4 class="header2">会员信息</h4>
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="tel" id="mobile" name="mobile" placeholder="手机号" disabled>
                                            <label for="mobile">手机号</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="memberName" name="memberName" placeholder="姓名"
                                                   disabled>
                                            <label for="memberName">姓名</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="sex" name="sex" placeholder="性别" disabled>
                                            <label for="sex">性别</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="occupation" name="occupation" placeholder="职业"
                                                   disabled>
                                            <label for="occupation">职业</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="address" name="address" placeholder="地址" disabled>
                                            <label for="address">地址</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="usablePoints1" placeholder="当前可用积分"
                                                   name="usablePoints1" disabled>
                                            <label for="usablePoints1">当前可用积分</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="cumulatePoints1" placeholder="累计积分"
                                                   name="cumulatePoints1" disabled>
                                            <label for="cumulatePoints1">累计积分</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ////////////////////////////////////// form start ////////////////////////////////////// -->
                        <form id="save-ticket" method="POST" enctype="multipart/form-data" action="/saveHandlePoints"
                              data-parsley-validate>
                            <input type="hidden" id="birthday" , name="birthday">
                            <input type="hidden" id="levelId" , name="levelId">
                            <input type="hidden" id="memberId" name="memberId">
                            <input type="hidden" id="shopName" name="shopName" value="">
                            <input type="hidden" id="shoppingDate" name="shoppingDate" value="">
                            <input type="hidden" id="cumulatePoints" name="cumulatePoints">
                            <input type="hidden" id="usablePoints" name="usablePoints">
                            <input type="hidden" id="cumulateAmount" name="cumulateAmount">
                            <input type="hidden" id="points" name="points" value="0">

                            <div class="card-panel">
                                <h4 class="header2">处理情况</h4>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">card_travel</i>
                                        <select id="shopId" name="shopId" class="do-points">
                                            <option th:each="shop:${shops}" th:text="${shop?.shop_name}"
                                                    th:value="${shop?.shop_id}"></option>
                                        </select>
                                        <label for="shopId">商户</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">card_travel</i>
                                        <input type="text" id="ticketNo" name="ticketNo" class="validate" equired
                                               data-parsley-required data-parsley-required-message="不能为空">
                                        <label for="ticketNo">单据号</label>
                                    </div>
                                    <div class="input-field col s6" ng-controller="DateController">
                                        <i class="material-icons prefix">card_travel</i>
                                        <!--<input input-date type="text" ng-model="currentTime" container="body"-->
                                               <!--format="yyyy-mm-dd"-->
                                               <!--months-full="{{ month }}" months-short="{{ monthShort }}"-->
                                               <!--weekdays-full="{{ weekdaysFull }}" weekdays-short="{{ weekdaysShort }}"-->
                                               <!--weekdays-letter="{{ weekdaysLetter }}"-->
                                               <!--disable="disable" min="{{ minDate }}" max="{{ maxDate }}"-->
                                               <!--today="today" clear="clear" close="close" select-years="10"-->
                                               <!--on-start="onStart()" on-render="onRender()" on-open="onOpen()"-->
                                               <!--on-close="onClose()" on-set="onSet()" on-stop="onStop()"-->
                                               <!--data-parsley-ui-enabled="false"-->
                                               <!--id="shoppingDate1" name="shoppingDate1" class="do-points">-->
                                        <!--<label for="shoppingDate1">交易日期</label>-->

                                        <input type="text" id="shoppingDate1" name="shoppingDate1"
                                               placeholder="2017-11-13 15:00:00"
                                               class="validate do-points"
                                               equired
                                               data-parsley-required
                                               data-parsley-required-message="不能为空"
                                               pattern="([0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9])"
                                               data-parsley-pattern="([0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9])"
                                               data-parsley-pattern-message="字段内容不是正确的时间格式">
                                        <label for="shoppingDate1">交易时间 (YYYY-MM-DD hh:mm:ss)</label>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">card_travel</i>
                                        <input type="number" id="amount" name="amount" class="validate do-points"
                                               equired min="0" step="0.01" data-parsley-required
                                               data-parsley-required-message="不能为空" data-parsley-max="99999999.99"
                                               data-parsley-max-message="金额超出最大范围">
                                        <label for="amount">交易金额</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">card_travel</i>
                                        <input type="number" id="points1" name="points1" disabled placeholder="0">
                                        <label for="points1">获得积分</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">card_travel</i>
                                        <textarea id="desc" name="desc" class="materialize-textarea"
                                                  placeholder="描述"></textarea>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col s12">
                                        <!-- <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>保存</a> -->
                                        <button type="button" id="pass" name="pass" class="waves-effect waves-light btn right"><i
                                                class="material-icons right">send</i>保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- ////////////////////////////////////// form end ////////////////////////////////////// -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--end container-->
    <!-- END CONTENT -->
    <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav" th:include="rightSidebarNav :: right-sidebar-nav">
    </aside>
    <!-- END RIGHT SIDEBAR NAV-->
</div>
<!-- END WRAPPER -->
</div>
<div class="section"></div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer gradient-45deg-light-cyan-cyan" th:include="footer :: footer">
</footer>

<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<!--<script type="text/javascript" src="vendors/jquery-3.2.1.min.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/parsley.js/2.8.0/parsley.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="js/custom-script.js"></script>

<script src="dropify/dist/js/dropify.min.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="vendors/angular.min.js"></script>
<script type="text/javascript" src="vendors/angular-materialize.js"></script>
<script type="text/javascript" src="js/angular-ui.js"></script>

<!--extra-components-sweetalert-->
<script type="text/javascript" src="js/sweetalert.min.js"></script>

<th:block th:include="baseScript :: base-script"></th:block>

<script th:inline="javascript">
    var shoppingDate = undefined
    var amounts = undefined
    var shopId = undefined

    var member_ojb = undefined

    $(document).ready(function () {
        $('#Search').keypress(function (event) {
            var mobile = event.target.value

            if (!mobile) return

            if (event.keyCode == '13') {
                log('key enter')

                var url = base_api + 'member/baseInfo?mobile=' + event.target.value
                log(url)

                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: 'json',
                    success: function (response) {
                        log(response)
                        member_ojb = response
                        setMemberInfo(member_ojb)

                        getPoints()
                    },
                    error: function (xhr, ajasOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                        errorDialog('输入手机号无法对应会员')
                    }
                }) // end ajax
            }
        })

        function setMemberInfo(member) {
            $('#mobile').val(member.mobile)
            $('#memberName').val(member.name)
            $('#sex').val(member.sex == 1 ? '女' : '男')
            $('#occupation').val(getOccupationStr(member.occuption) || '无')
            $('#address').val(member.address)
            $('#usablePoints').val(member.usable_points)
            $('#usablePoints1').val(member.usable_points)
            $('#cumulatePoints').val(member.cumulate_points)
            $('#cumulatePoints1').val(member.cumulate_points)
            $('#levelId').val(member.level_id)
            $('#memberId').val(member.member_id)
            $('#birthday').val(member.birthday)
            $('#cumulateAmount').val(member.cumulate_amount)
        }

        function getOccupationStr(occuption) {
            var result = undefined

            switch (occuption) {
                case 0:
                    result = "教师";
                    break;
                case 1:
                    result = "会计";
                    break;
                case 2:
                    result = "IT";
                    break;
                case 3:
                    result = "金融";
                    break;
                case 4:
                    result = "销售";
                    break;
                case 5:
                    result = "营业员";
                    break;
                case 6:
                    result = "公务员";
                    break;
                case 7:
                    result = "自由职业";
                    break;
            }

            return result
        }

        shopId = $('#shopId').val()
        $('#shopName').val($("#shopId option:selected").text())

        var shopping_date = [[${ticket?.shopping_date}]]
        if (shopping_date) $('#shoppingDate1').val(dateTimeString(new Date(shopping_date)))

        $('#shoppingDate1').on('change', function (event) {
            shoppingDate = dateToMilliseconds(event.target.value)
            $('#shoppingDate').val(shoppingDate)

            getPoints()
        })

        $('#amount').on('change', function (event) {
            amounts = event.target.value

            getPoints()
        })

        $('#shopId').on('change', function (event) {
            shopId = event.target.value
            console.log($("#shopId option:selected").text())
            $('#shopName').val($("#shopId option:selected").text())

            getPoints()
        })
    })

    function thisSet() {
        shoppingDate = dateToMilliseconds($('#shoppingDate1').val())
        $('#shoppingDate').val(shoppingDate)

        getPoints()
    }

    $('#pass').on('click', function(event) {
        var apiUrl = base_api + 'ticket/verifyticketno'
//        var apiUrl = 'http://121.196.208.176:9001/' + 'ticket/verifyticketno'

        var condition = {
            ticketNo: $('#ticketNo').val()
        }

        if (!condition.ticketNo || condition.ticketNo.length <= 0) {
            errorDialog('订单号不能为空')
            return false
        }

        if (checkMember() === false) return false

        var points = $('#points').val()
        if (!points || parseInt(points) <= 0) {
            errorDialog('积分未录入')
            return false
        }

        $.ajax({
            type: 'POST',
            url: apiUrl,
            data: JSON.stringify(condition),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                log('data= ' + data)
                $('#save-ticket').submit()
            },
            error: function (xhr, ajaxOptions, thrownError) {
                log('xhr.status= ' + xhr.status + ' xhr= ' + xhr)
                if (xhr.status == 403) {
                    errorDialog('订单号不能重复')
                }
            }
        })
    })

    function getPoints() {
        if (shoppingDate && amounts && shopId) {
            if (checkMember() === false) return false

            var levelId = $('#levelId').val()
            var birthday = $('#birthday').val()
            var url = base_api + 'points/promotion?levelId=' + levelId + '&shopId=' + shopId + '&birthday=' + birthday + '&today=' + shoppingDate
            console.log(url)

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                success: function (response) {
                    $('#points1').val(parseInt(amounts / response))
                    $('#points').val(parseInt(amounts / response))
                },
                error: function (xhr, ajasOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);

                    if (xhr.status == 404) {
                        url = base_api + 'points/simple?levelId=' + levelId + '&shopId=' + shopId
                        $.ajax({
                            type: 'GET',
                            url: url,
                            dataType: 'json',
                            success: function (response) {
                                console.log("success")
                                console.log(response)
                                $('#points1').val(parseInt(amounts / response))
                                $('#points').val(parseInt(amounts / response))
                            },
                            error: function (xhr, ajasOptions, thrownError) {
                                console.log(xhr.status);
                                console.log(thrownError);
                            }
                        })
                    }
                }
            }) // end ajax
        }
    }

    function checkMember() {
        if (!member_ojb) {
            errorDialog('请先确认用户信息')
            return false
        }
    }


</script>
</body>

</html>