<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 4.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="description"-->
    <!--content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">-->
    <!--<meta name="keywords"-->
    <!--content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">-->
    <title>BAUHINIA SQUARE Admin</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="css//materialize.css" type="text/css" rel="stylesheet">
    <link href="css//style.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="css/custom/custom.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">

    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0px;
            font-size: 13px;
        }

        #pickerBox {
            position: absolute;
            z-index: 9999;
            top: 50px;
            right: 30px;
            width: 300px;
        }

        #pickerInput {
            width: 200px;
            padding: 5px 5px;
        }

        #poiInfo {
            background: #fff;
        }

        .amap_lib_placeSearch .poibox.highlight {
            background-color: #CAE1FF;
        }

        .amap_lib_placeSearch .poi-more {
            display: none !important;
        }
    </style>
</head>

<body class="active-tickets">
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed" th:include="header :: header"></div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav" th:include="leftNavigation :: navigation">
        </aside>
        <!-- END LEFT SIDEBAR NAV-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s10 m6 l6">
                            <h5 class="breadcrumbs-title">会员小票处理</h5>
                            <ol class="breadcrumbs">
                                <li><a href="/">上海紫荆广场</a>
                                </li>
                                <li><a href="#">会员</a>
                                </li>
                                <li class="active">小票 处理</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->
            <!--start container-->
            <div class="container">
                <div class="section">
                    <!--<p class="caption">在下列表单中填写商场基本信息 上传商场轮播图片</p>-->
                    <!--<div class="divider"></div>-->
                </div>

                <div class="row">
                    <div class="col s12 m12 l12">
                        <div id="ticket-picture" class="card-panel center rotate-0">
                            <!--<img id="img1" th:src="${ticket?.file_url}">-->
                            <img id="img1" th:src="${ticketPicture}">
                            <!--<img id="img1" src="http://localhost:9002/upload/img/7614_1512201946088.jpg">-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div class="card-panel">
                            <h4 class="header2">会员信息</h4>
                            <div class="row">
                                <div class="col s12" th:object="${member}">

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="tel" id="mobile" name="mobile" disabled th:value="*{mobile}">
                                            <label for="mobile">手机号</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="memberName" name="memberName" disabled
                                                   th:value="*{name}">
                                            <label for="memberName">姓名</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="sex" name="sex" disabled th:value="*{sex}">
                                            <label for="sex">性别</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="occupation" name="occupation" disabled
                                                   th:value="*{occupation}">
                                            <label for="occupation">职业</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" id="address" name="address" disabled
                                                   th:value="*{address}">
                                            <label for="address">地址</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" disabled th:value="*{usablePoints}">
                                            <label for="usablePoints">当前可用积分</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">card_travel</i>
                                            <input type="text" disabled th:value="*{cumulatePoints}">
                                            <label for="cumulatePoints">累计积分</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-panel" th:object="${member}">
                            <input type="hidden" id="birthday" , name="birthday" th:value="*{birthday}">
                            <input type="hidden" id="levelId" , name="levelId" th:value="*{levelId}">
                            <input type="hidden" id="memberId" name="memberId" th:value="*{memberId}">
                            <input type="hidden" id="shopName" name="shopName" value="">
                            <input type="hidden" id="shoppingDate" name="shoppingDate" value="">
                            <input type="hidden" id="cumulatePoints" name="cumulatePoints" th:value="*{cumulatePoints}">
                            <input type="hidden" id="usablePoints" name="usablePoints" th:value="*{usablePoints}">
                            <input type="hidden" id="cumulateAmount" name="cumulateAmount" th:value="*{cumulateAmount}">
                            <input type="hidden" id="points" name="points" value="0">
                            <h4 class="header2">处理情况</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">card_travel</i>
                                    <input type="text" id="shop-name" name="shop-name" disabled
                                           th:value="${ticket?.shop_name}">
                                    <label for="shop-name">商户</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">card_travel</i>
                                    <input type="text" id="ticketNo" name="ticketNo" disabled
                                           th:value="${ticket?.ticket_no}">
                                    <label for="ticketNo">单据号</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">card_travel</i>
                                    <input type="text" id="shoppingDate1" name="shoppingDate1" disabled
                                           th:value="${#dates.format(ticket?.shopping_date, 'yyyy-MM-dd HH:mm')}">
                                    <label for="shoppingDate1">交易日期</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">card_travel</i>
                                    <input th:if="${ticket?.amounts!=null}" type="text" id="amount" name="amount" disabled
                                           th:value="|￥${#numbers.formatDecimal(ticket?.amounts, 0, 'COMMA', 2, 'POINT')}|">
                                    <input th:if="${ticket?.amounts==null}" type="text" id="amount" name="amount" disabled th:value="|N/A|">
                                    <label for="amount">交易金额</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">card_travel</i>
                                    <input type="number" id="points1" name="points1" disabled
                                        th:value="${ticket?.points}">
                                    <label for="points1">获得积分</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">card_travel</i>
                                    <textarea id="responses" name="responses" class="materialize-textarea" disabled
                                              th:value="${ticket?.responses}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--end container-->
    <!-- END CONTENT -->
    <!-- START RIGHT SIDEBAR NAV-->
    <aside id="right-sidebar-nav" th:include="rightSidebarNav :: right-sidebar-nav">
    </aside>
    <!-- END RIGHT SIDEBAR NAV-->

    <div class="fixed-action-btn" style="top:80px; right:19px;">
        <a class="btn-floating btn-large modal-trigger" href="/tickets">
            <i class="material-icons">reply_all</i>
        </a>
    </div>
</div>
<!-- END WRAPPER -->
</div>
<div class="section"></div>
<!-- END MAIN -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START FOOTER -->
<footer class="page-footer gradient-45deg-light-cyan-cyan" th:include="footer :: footer">
</footer>

<!-- END FOOTER -->
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<!--<script type="text/javascript" src="vendors/jquery-3.2.1.min.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/parsley.js/2.8.0/parsley.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="js/plugins.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="js/custom-script.js"></script>

<!--<script type="text/javascript" src="https://cdn.bootcss.com/exif-js/2.3.0/exif.min.js" crossorigin="anonymous"></script>-->
<script th:inline="javascript">

//    $(document).ready(function() {

//    })
//    window.onload = getExif

//    function getExif() {
//        var pic = document.getElementById('img1')
//        var Orientation = undefined
//
//        EXIF.getData(pic, function() {
//            Orientation = EXIF.getTag(this, "Orientation")
//            log('Orientation == ' + Orientation)
//            if (Orientation===6){
//                $('#ticket-picture').addClass('rotate-90')
//            } else {
//                $('#ticket-picture').addClass('rotate-0')
//            }
//        });
//    }

</script>
</body>

</html>
